<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:task="http://www.springframework.org/schema/task"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-4.3.xsd
">
		 
	<!--     spring 总配置文件    -->

    <!-- 自动扫描需要用到自动注解的包，并排除@Controller注解 -->
	<context:component-scan base-package="org.xmm.falsework">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<!--配置文件加载-->
	<!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:dev.properties" />
		<property name="fileEncoding" value="utf-8" />
	</bean>-->


	<!--********引入spring-mvc相关配置*************-->
	<import resource="spring-mvc.xml"></import>
	
	<!--********引入spring-mb相关配置*************-->
	<import resource="spring-mb.xml"></import>

	<!--********引入dubbo相关配置*************-->
	<import resource="provider.xml"></import>



	<!--********spring task 定时任务*************-->
	<!--<task:annotation-driven executor="ApolloDefaultExecutor" scheduler="ApolloScheduler"/>-->
	<!--<task:executor id="ApolloDefaultExecutor" pool-size="5" />-->
	<!--<task:scheduler id="ApolloScheduler" pool-size="10" />-->

	<!-- 异步任务线程池 -->
	<task:executor id="ApolloAsyncExecutor" pool-size="5-15" queue-capacity="5" />


	<!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>-->


	<import resource="spring-config.xml"/>



</beans>
