<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:task="http://www.springframework.org/schema/task"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-4.3.xsd
		">
		 
				<!--     spring 总配置文件    -->

	<!-- 自动扫描需要用到自动注解的包，并排除@Controller注解 -->
	<context:component-scan base-package="org.xmm.falsework">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>


    <!-- 引入配置文件 -->
    <bean id="propertyConfigurer" class="org.xmm.falsework.util.CustomizedPropertyConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:dev.properties</value>
                <value>classpath:common.properties</value>
                <value>file:${CEEHOO_TEST_HOME}/apps/test.properties</value>
                <value>file:${CEEHOO_HOME}/apps/lamppa-eclass-production.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>


	<!--********引入mybatis相关配置*************-->
	<import resource="spring-mvc.xml"></import>

    <!--********引入mybatis相关配置*************-->
    <import resource="spring-mb.xml"></import>



	<!--********spring task 定时任务*************-->
	<!--<task:annotation-driven executor="ApolloDefaultExecutor" scheduler="ApolloScheduler"/>-->
	<!--<task:executor id="ApolloDefaultExecutor" pool-size="5" />-->
	<!--<task:scheduler id="ApolloScheduler" pool-size="10" />-->

	<!-- 异步任务线程池 -->
	<task:executor id="ApolloAsyncExecutor" pool-size="5-15" queue-capacity="5" />


	<!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>-->
</beans>
